* {
  margin: 0;
  padding: 0;
}

@keyframes slideIn {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

body, html{
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  color: white;
  background-size: cover;
}
#title{
  font-family: 'Pacifico', cursive;
}

/* Header, Nav, Footer*/
header {
  text-align: center;
  justify-content: space-between;
  background-color: pink;
  border: 2px solid black;
  width: 100vw;
}

footer {
  background-color: rgba(0, 0, 0, 0.642);
  height: 2rem;
  width: 100vw;
  position: sticky;
  bottom: 0;
  z-index: 999;
}

/* Main Container */

.maincontainer {
  background-color: rgb(253, 74, 74);
  border: 2px dotted white;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 20% 80%;
  padding-bottom: 2%;
  height: 100vh;
  width: 100vw;
}

#citynow{
  background-color: black;
  text-align: center;
  display: grid;
  grid-template-columns: 20fr 20fr 20fr 20fr;
  grid-template-rows: repeat(6, 1fr);
}


/* Search Box */

.searchcontainer {
  border: 2px dotted rgba(203, 37, 37);
  /* background-color: rgba(0, 0, 255, 0.363); */
}

.history {
  width: inherit
}

#citytitle{
  text-align: center;
}

#citynow{
  background-color: black;
  text-align: center;
}

#citycast{
  height: fit-content;
  padding: 5%
}

.rainplaceholder{
  background-image: url("https://media2.giphy.com/media/l3vRbNFMuFt5Zm372/giphy.gif?cid=790b76119c85037173bb61630a7216418088371eb6c10ade&rid=giphy.gif&ct=g");
  background-size: cover;
  width: 100px;
  height: 200px;
  text-align: center;
  text-transform: translateY(-50);
}

/* Media Queries */
/* @media only screen and (max-width: 1220px) {} */
/* @media only screen and (max-width: 778px){} */

@media only screen and (max-width: 480px) {
body{
  background-size: contain;
}

  .maincontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  .menu-button{
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .menu-hidden{
    display: none;
  }
  
  .menu-show{
    display: flex;
  animation: slideIn 500ms ease-in-out forwards;
  transform-origin: top center;
  }
  
  .searchcontainer {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
  }

  #citynow{
    background-color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 20fr 20fr 20fr 20fr;
    grid-template-rows: repeat(6, 1fr);
  }

  #citynow > div:nth-child(1){
    font-size: 4rem;
  grid-column: 1/6;
  grid-row: 1/5;
  }
  
  #citynow > div:nth-child(2){
    grid-column: 2/2;
    grid-row: 5/6;
  }
  
  #citynow > div:nth-child(3){
    grid-column: 3/3;
    grid-row: 5/6;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.642);
    height: 2rem;
    width: 100vw;
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
}