* {
  margin: 0;
  padding: 0;
}

body, html{
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/2670898/pexels-photo-2670898.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  color: white;
  background-size: cover;
}
#title{
  font-family: 'Pacifico', cursive;
}

/* Header, Nav, Footer*/
header {
  text-align: center;
  justify-content: space-between;
  background-color: pink;
  border: 2px solid black;
  /* display: inline-flex; */
  width: 100vw;
}

footer {
  background-color: rgba(0, 0, 0, 0.642);
  height: 2rem;
  width: 100vw;
  position: sticky;
  bottom: 0;
  z-index: 999;
}

/* Main Container */

.maincontainer {
  /* background-color: rgb(253, 74, 74); */
  border: 2px dotted white;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 20% 80%;
  padding-bottom: 2%;
  height: 100vh;
  width: 100vw;
}

/* Search Box */

.searchcontainer {
  border: 2px dotted rgba(203, 37, 37);
  /* background-color: rgba(0, 0, 255, 0.363); */
}

.history {
  width: inherit;
  /* add something pretty here for the background */
  /* background-color: aqua; */
}

/* Displayed results */

/* .dispresults {
  background-color: rgba(0, 255, 255, 0.322);
} */

.citycast{
  height: fit-content;
  padding: 5%
}

.rainplaceholder{
  background-image: url("https://media2.giphy.com/media/l3vRbNFMuFt5Zm372/giphy.gif?cid=790b76119c85037173bb61630a7216418088371eb6c10ade&rid=giphy.gif&ct=g");
  background-size: cover;
  width: 100px;
  height: 200px;
  text-align: center;
  text-transform: translateY(-50);
}

/* Media Queries */
/* @media only screen and (max-width: 1220px) {} */
/* @media only screen and (max-width: 778px){} */

@media only screen and (max-width: 480px) {
body{
  background-size: contain;
}

  .maincontainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
  }

  .searchcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.642);
    height: 2rem;
    width: 100vw;
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
}